* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Barlow Semi Condensed';
    color: hsl(0, 0%, 100%);
    text-transform: uppercase;
}

.container {
    height: 100vh;
    background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

h1, p {
    margin: 0;
}

.header {
    border: 2px solid hsl(217, 16%, 45%);
    padding: 15px;
    border-radius: 10px;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.score {
    height: 114px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 40px;
    background: hsl(0, 0%, 100%);
    border-radius: 5px;
}

.score > p:first-child {
    color: hsl(229, 64%, 46%);
    font-weight: 600;
} 

.score > p:last-child {
    font-size: 3rem;
    color: hsl(229, 25%, 31%);
    font-weight: 700;
}

.content {
    height: 350px;
    width: 400px;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.border-area {
    height: 150px;
    width: 150px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.icon-first-row {
    display: flex;
    justify-content: space-between;
    z-index: 1;
}

.icon-second-row {
    display: flex;
    justify-content: center;
    z-index: 1;
}

.bg-triangle {
    position: absolute;
    left: 50%;
    transform: translate(-50%, 25%);
    z-index: 0;
}

.paper-icon {
    background: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

.scissors-icon {
    background: linear-gradient(hsl(39, 89%, 49%), hsl(40, 84%, 53%));
}

.rock-icon {
    background: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
}

.icon {
    background: hsl(0, 0%, 100%);
    width: 75%;
    height: 75%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer {
    /* uncomment below when you add rules section */
    /* align-self: flex-end; */
    /* margin-right: 40px; */
    font-size: 24px;
}

.rules {
    letter-spacing: 0.25rem;
    border: 2px solid hsl(217, 16%, 45%);
    border-radius: 5px;
    padding: 5px 25px;
}

.game-info {
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 24px;
}

.selection {
    margin-left: 12px;
}